@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* Custom scrollbar */
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 0.5rem;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #646464;
        border-radius: 0.5rem;
    }
    /* Mozilla */
    body {
        scrollbar-color: #888 transparent;
        scrollbar-width: thin
    }

    .fade-in {
        animation: fade-in 100ms ease forwards;
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    hr.rounded {
        border-top: 1px solid #989898;
        border-radius: 1px;
        opacity: 0.3;
    }
}