rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /groups/{id} {
    	allow read: if true;
      allow write: if request.auth != null;
    }
    match /channels/{id} {
    	allow read: if true;
      allow write: if (request.auth != null);
    }
    match /messages/{id} {
    	allow read: if exists(/databases/$(database)/documents/channels/$(resource.data.channel));
      allow write: if (request.auth != null);
    }
  }
}